*{
    margin: 0px;
    padding: 0px;
}
.cnt{
    background-color: #6aa0b0;
    width: 100%;
    height: 550px;
}
.form{
    position: relative;
    top: 117px;
    left: 711px;
    background-color: #4f676e;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form input{
    height: 20px;
    width: 300px;
    border-radius: 5px;
    margin-top: 33px;
}
.form button{
    margin-top: 30px;
    background-color: aliceblue;
}